@use '../../assets/scss/functions.scss' as *;

.flex-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;

    @include breakpoint('sm') {
        grid-template-columns: 0.3fr 0.7fr;
        column-gap: 0.8rem;
    }
}

.patient-form {
    background: #fff;
    border-radius: 0.4rem;
    padding: 0.8rem;
    h4 {
        font-size: 1.0rem;
        font-weight: 400;
        margin: 0.4rem 0;
        margin-bottom: 0.8rem;
        text-align: center;
    }

    hr {
        border: 1px solid rgba(#000501, 0.1);
        margin: 0.8rem 0;
    }
}

app-patients {
    background: #fff;
    border-radius: 0.4rem;
}

.input-group {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    display: flex;
    button, textarea, select, input {
        padding: 0.8rem 1.2rem;
        border: 1px solid #000501;
        border-radius: 0.2rem;
        margin: 0.2rem 0;
        box-sizing: content-box;
        width: 100%;
    }

    button {
        cursor: pointer;
        background: #73ab84;
        border: none;
        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background: #79c7c5;
        }
    }

}

