.table-container {
    width: 100%;
    padding: 0.8rem;
    margin: 0 auto;

    table {
        font-size: 0.8rem;
        width: 100%;
        margin: 0 auto;
        border-spacing: 0;
        border-collapse: collapse;
        border: 1px solid #99d19c;
        thead {
            font-weight: 400;
            background: #73ab84;
            border-radius: 0.8rem;
            th {
                padding: 0.8rem 0.4rem;
            }
        }

        tbody {
            text-align: center;
            td {
                padding: 0.8rem 0.4rem;
                white-space: pre-line;
            }
        }
    }
}