<section class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Type of Service</th>
                <th>General Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{ patient.name }}</td>
                <td>{{ patient.date_of_birth | date:"dd/MM/yyyy" }}</td>
                <td>{{ patient.gender_id }}</td>
                <td>{{ patient.service_id }}</td>
                <td>{{ patient.general_comments }}</td>
            </tr>
        </tbody>
    </table>
</section>
