<section class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Type of Service</th>
                <th>General Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Andrew Kigen</td>
                <td>1996-05-03</td>
                <td>Male</td>
                <td>Outpatient</td>
                <td>He's alright</td>
            </tr>
        </tbody>
    </table>
</section>
