
<section class="table-container">
    <h4>Patient Records</h4>

    <hr>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Type of Service</th>
                <th>General Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients" >
                <td appHighlight [patient]="patient" [occurences]="occurences">{{ patient.name }}</td>
                <td>{{ patient.date_of_birth | date:"dd/MM/yyyy" }}</td>
                <td class="title-case">{{ patient.gender.gender }}</td>
                <td>{{ patient.service.service_name }}</td>
                <td>{{ patient.general_comments }}</td>
            </tr>
        </tbody>
    </table>

    <div class="table-legend">
        <div class="square"></div>
        Most Visits
    </div>
</section>
